Automatizacion n8n.json
{
  "name": "Proyecto final",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// 1. Capturar la estructura nativa del mensaje o del callback de Telegram\nconst message = $input.item.json.message || {};\nconst callbackQuery = $input.item.json.callback_query || {};\nconst from = message.from || callbackQuery.from || {};\n\n// 2. Extraer datos del usuario\nconst telegramUserId = from.id || \"\";\nconst firstName = from.first_name || \"Usuario\";\n\n// 3. Determinar el texto entrante (si fue escrito o si fue un botón)\nlet textContent = message.text || \"\";\nlet esCallback = false;\n\nif (callbackQuery.data) {\n  textContent = callbackQuery.data; // Ej: 'reportar_falta' o 'consultar_tramite'\n  esCallback = true;\n}\n\n// 4. Detectar si contiene archivos multimedia\nconst hasVoice = !!(message.voice || message.audio);\nconst hasPhoto = !!(message.photo || message.document);\n\nreturn {\n  json: {\n    telegram_user_id: telegramUserId,\n    user_name: firstName,\n    texto_puro: textContent.trim(),\n    es_comando_start: textContent.trim() === '/start',\n    es_callback: esCallback,\n    es_audio: hasVoice,\n    es_foto: hasPhoto\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        96
      ],
      "id": "d7038426-6b61-4454-8867-376948d19a08",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5efd853f-4b4c-46da-bf4c-41718f99b5a1",
              "leftValue": "={{ $('Base de datos Alumnos').first()?.json?.telegram_user_id ? true : false }}",
              "rightValue": ".+",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ],
      "id": "cdecdd4b-0d82-4ff8-99b4-46adbc1f3936",
      "name": "Registrado/No Registrado"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU",
          "mode": "list",
          "cachedResultName": "Aether IA Ausencia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Usuarios_Registrados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user_id",
              "lookupValue": "={{ $('Inicio').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        96
      ],
      "id": "b8e80f03-975b-4a0b-bd4e-de87e50368b4",
      "name": "Base de datos Alumnos",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vxMlLQEvKedyMLNp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -896,
        96
      ],
      "id": "edfec914-1f06-4295-b76e-9d8f9e12fa74",
      "name": "Inicio",
      "webhookId": "429a7e6e-3c5c-4620-bc31-5e83c6e76c63",
      "credentials": {
        "telegramApi": {
          "id": "2jvvMbTjhKeXvMz4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturar los datos del usuario que vienen arrastrándose en el flujo\n// Usamos el operador opcional ?. para evitar errores si algún campo falta\nconst telegramUserId = $('Code in JavaScript').item?.json?.telegram_user_id || \"\";\nconst userName = $('Code in JavaScript').item?.json?.user_name || \"Usuario\";\n\n// 2. Generar un ID Alfanumérico Único (Formato: ATH-XXXXX)\nconst caracteres = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';\nlet codigoAleatorio = '';\nfor (let i = 0; i < 5; i++) {\n  codigoAleatorio += caracteres.charAt(Math.floor(Math.random() * caracteres.length));\n}\n\n// Combinamos el prefijo del proyecto (AetherIA) con el código aleatorio\nconst idInstitucional = `ATH-${codigoAleatorio}`;\n\n// 3. Retornar el payload limpio para la base de datos\nreturn {\n  json: {\n    id_registro: idInstitucional,\n    telegram_user_id: telegramUserId,\n    nombre_completo: userName,\n    rol: \"Pendiente\", // Se inicializa como pendiente para asignación manual o posterior\n    estado: \"Activo\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        192
      ],
      "id": "d103e531-7a89-4345-ad7f-aa46543862b7",
      "name": "Generar ID Registro"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU",
          "mode": "list",
          "cachedResultName": "Aether IA Ausencia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Usuarios_Registrados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user_id": "={{ $('Code in JavaScript').item.json.telegram_user_id.toString() }}",
            "Nombre_completo": "={{ $json.nombre_completo }}",
            "Estado": "={{ $json.estado }}",
            "Rol": "={{ $json.rol }}",
            "Alumno_asociado": "={{ $json.nombre_completo }}",
            "codigo_alumno": "={{ $json.id_registro }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_user_id",
              "displayName": "telegram_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "codigo_alumno",
              "displayName": "codigo_alumno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre_completo",
              "displayName": "Nombre_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rol",
              "displayName": "Rol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alumno_asociado",
              "displayName": "Alumno_asociado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        192
      ],
      "id": "b791096f-9cc4-40fd-9e7a-372fd9bb515b",
      "name": "Registro del nuevo Usuario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vxMlLQEvKedyMLNp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Inicio').item.json.message.from.id }}",
        "text": "={{ JSON.parse($('AetherIA usuario existente').item.json.content.parts[0].text).bienvenidadinamica }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📝 Reportar falta ",
                    "additionalFields": {
                      "callback_data": "reportar_falta"
                    }
                  },
                  {
                    "text": "🔍 Consultar Trámite",
                    "additionalFields": {
                      "callback_data": "consultar_tramite"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        0
      ],
      "id": "47548aac-5d5a-49fd-8024-ce72ad03327b",
      "name": "Saludo Usuario Existente",
      "webhookId": "00ca4149-9108-4984-8881-9ad7d3d8a37a",
      "notesInFlow": false,
      "retryOnFail": false,
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "2jvvMbTjhKeXvMz4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Inicio').item.json.message.chat.id }}",
        "text": "={{ $json.content.parts[0].text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📝 Reportar falta ",
                    "additionalFields": {
                      "callback_data": "reportar_falta"
                    }
                  },
                  {
                    "text": "🔍 Consultar Trámite",
                    "additionalFields": {
                      "callback_data": "consultar_tramite"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "=none"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        192
      ],
      "id": "348d8038-2859-49dd-91dc-0793053c9ec5",
      "name": "Bienvenida nuevo usuario",
      "webhookId": "dd5ff60d-23ef-40cb-a625-b1be836e80ee",
      "credentials": {
        "telegramApi": {
          "id": "2jvvMbTjhKeXvMz4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres AetherIA, un asistente virtual empático para la gestión de ausencias escolares.  \n\nQuiero que generes un mensaje como el siguiente formato:\n\n¡Bienvenido a AetherIA! 🚀 \n\nNo encontramos un registro previo con tu ID de Telegram, por lo que hemos creado un perfil institucional automáticamente para ti. \n\n👤 Nombre: {{ $json.Nombre_completo }}\n🆔 Tu código único es: {{ $json.codigo_alumno }}\n\nTu perfil se ha inicializado como 'Activo'. Ahora puedes utilizar el menú de abajo de forma normal.\n\nREGLA IMPORTANTE: No reproduzcas en el prompt el formato que te pasé; es solo para referencia de cómo quiero el formato del mensaje"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        576,
        192
      ],
      "id": "a7d03b14-3d25-4e16-b771-13666bc488a6",
      "name": "AetherIA nuevo usuario",
      "credentials": {
        "googlePalmApi": {
          "id": "8a4wBV4FhzB6yPzT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres AetherIA, un asistente virtual empático para la gestión de ausencias escolares. \n\nEl usuario actual ya está registrado en el sistema con los siguientes datos oficiales de Google Sheets:\n- Nombre del usuario: {{ $json.Nombre_completo }}\n- Estado: {{ $json.Estado }}\n- Alumno asociado: {{ $json.Alumno_asociado }}\n\nGenera un saludo de bienvenida que sea único, cálido y altamente personalizado (por ejemplo, si es un Padre, saludarlo amablemente por su nombre y mencionar que estás listo para ayudarle con los trámites de su hijo/a).\n\nResponde estrictamente con un objeto JSON que tenga esta propiedad: bienvenidadinamica.\n\n⚠️ REGLA CRÍTICA DE FORMATO: No utilices bajo ninguna circunstancia asteriscos (**), guiones bajos (_) ni ningún tipo de formato Markdown en tu respuesta. Entrega el texto completamente limpio, usando comillas simples (' ') para resaltar los nombres de los botones. Lo que si puedes utilizar es darle un formato para que sea más fácil de leer, doy esta plantilla ¡Hola, Kirby5023! Es un verdadero placer saludarte de nuevo.\n\nSoy AetherIA, tu asistente virtual dedicada a acompañarte en cada paso de la gestión escolar. He notado que tu rol se encuentra actualmente como Pendiente, pero no hay de qué preocuparse, ya tengo todo listo para apoyarte con los trámites de Kirby5023. Mi objetivo es que te sientas con total tranquilidad y que cada proceso sea lo más fluido posible.\n\n¿En qué puedo asistirte hoy? Puedes comenzar seleccionando 'Registrar Ausencia' o revisar la información en 'Consultar Historial'. ¡Estoy aquí para lo que necesites!\n\nREGLA CRÍTICA: No reproduzca el mensaje de formato solo utilizalo como referencia para generar el prompt utiliza saltos de linea para que sea mas faccil de leer y utiliza emojis en donde quieras"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "caf42229-4789-4d9b-9bd5-ccc3fa8403a4",
      "name": "AetherIA usuario existente",
      "credentials": {
        "googlePalmApi": {
          "id": "8a4wBV4FhzB6yPzT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "reportar_falta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4bc4aaaa-8dd8-4ddd-980a-ad9975a85f6e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reportar falta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "328fb819-17cb-4a86-8588-3d29c7dd2fe8",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "consultar_tramite",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultar tramite"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -672,
        512
      ],
      "id": "279b382a-d3d9-4432-a265-3e5e57dd330a",
      "name": "Switch"
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -896,
        512
      ],
      "id": "8e1e08ae-ea3d-489e-85bd-665a9348ca5c",
      "name": "Trigger Botones Telegram",
      "webhookId": "89e7daf4-6edc-41c8-965e-b62892328559",
      "credentials": {
        "telegramApi": {
          "id": "2jvvMbTjhKeXvMz4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Trigger Botones Telegram').item.json.callback_query.message.chat.id }}",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        416
      ],
      "id": "e37581c7-8b76-4d1c-9c32-0783eca93d69",
      "name": "Respuesta Reporte",
      "webhookId": "de166f3d-4222-4272-aac7-e6dce36c0886",
      "credentials": {
        "telegramApi": {
          "id": "2jvvMbTjhKeXvMz4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres AetherIA, un asistente virtual empático para la gestión de ausencias escolares. El usuario ha seleccionado la opción de reportar una falta.\nRedacta un mensaje corto, empático y profesional indicándole al estudiante que debe llenar el formulario oficial de auditoría digital.\n\n\n⚠️ REGLA CRÍTICA DE URL: Debes incluir exactamente este enlace, letra por letra, sin quitarle ninguna línea ni guion bajo. Copia y pega textualmente esto:\nhttps://joguisam-gt.github.io/formularion8n?idtramite={{ $json.id_tramite }}\nREGLA DE FORMATO: No utilices asteriscos (**) ni guiones bajos (_) para decorar el texto (no uses negritas ni cursivas). Usa emojis con moderación y saltos de línea para facilitar la lectura."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        0,
        416
      ],
      "id": "f8bbfe43-0b38-4008-b2d7-a0fb553cc2b7",
      "name": "Mensaje Reporte",
      "credentials": {
        "googlePalmApi": {
          "id": "8a4wBV4FhzB6yPzT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Eres AetherIA, el sistema automatizado de gestión. El usuario ha consultado el estado de su trámite utilizando el código: {{ $json.id_tramite }}\nTras buscar en la base de datos de Google Sheets, se recuperaron con éxito los siguientes datos reales:\n•\tEstudiante: {{ $json.Nombre_usuario }}\n•\tFecha de Registro: {{ $json.Fecha_reporte }}\n•\tEstado del Trámite: {{ $json.clasificacion_ia }} (Nota importante: Si la columna 'Estado' viene vacía o dice 'Pendiente', indícale amablemente que su caso se encuentra actualmente en 'Revisión Manual' por el equipo de auditoría).\nRedacta un mensaje informativo, muy tecnológico y atento dándole el estatus de su caso. REGLA CRÍTICA DE FORMATO: No utilices asteriscos (**) ni guiones bajos (_) en ninguna parte de tu respuesta."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        -448,
        1056
      ],
      "id": "216ecbb9-e1e3-498a-bfad-c115acc16e88",
      "name": "Mensaje Consulta",
      "credentials": {
        "googlePalmApi": {
          "id": "8a4wBV4FhzB6yPzT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Fabricar el ID único con el año actual\nconst anioActual = new Date().getFullYear();\nconst numeroAleatorio = Math.floor(1000 + Math.random() * 9000); \nconst idGestionado = `AETHER-${anioActual}-TG${numeroAleatorio}`;\n\n// 2. Fabricar la fecha de hoy de forma automática\nconst hoy = new Date();\nconst fechaFormato = hoy.toLocaleDateString('es-GT', {\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric'\n});\nconst horaFormato = hoy.toLocaleTimeString('es-GT', {\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// 3. Capturar lo que venía de Telegram de forma segura\nconst datosTelegram = $input.item?.json || {};\n\n// 4. Devolver TODO unido en un solo paquete estructurado\nreturn {\n  json: {\n    telegram_original: datosTelegram, // Guarda aquí todo lo de Telegram por seguridad\n    numero_gestion: idGestionado,     // Aquí nace tu número de caso\n    fecha_reporte: fechaFormato,       // Aquí nace la fecha de hoy\n    hora_reporte: horaFormato          // Aquí nace la hora de hoy\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        416
      ],
      "id": "79bc13b1-5367-435b-9742-76966a36884d",
      "name": "Generador de gestion"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU",
          "mode": "list",
          "cachedResultName": "Aether IA Ausencia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1431428858,
          "mode": "list",
          "cachedResultName": "Historal de ausencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU/edit#gid=1431428858"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha_reporte": "={{ $json.fecha_reporte }}",
            "id_tramite": "={{ $json.numero_gestion }}",
            "telegram_user_id": "={{ $json.telegram_original.callback_query.from.id }}",
            "Nombre_usuario": "={{ $json.telegram_original.callback_query.from.username }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_tramite",
              "displayName": "id_tramite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre_usuario",
              "displayName": "Nombre_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user_id",
              "displayName": "telegram_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha_reporte",
              "displayName": "Fecha_reporte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_ausencia_inicio",
              "displayName": "fecha_ausencia_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_ausencia_final",
              "displayName": "fecha_ausencia_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Motivo_ausencia",
              "displayName": "Motivo_ausencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Url_justificante",
              "displayName": "Url_justificante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "clasificacion_ia",
              "displayName": "clasificacion_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Observaciones_ia",
              "displayName": "Observaciones_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        416
      ],
      "id": "9f26b11a-d06a-4a8e-85be-daf4286602dd",
      "name": "base de datos reporte",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vxMlLQEvKedyMLNp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU",
          "mode": "list",
          "cachedResultName": "Aether IA Ausencia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1431428858,
          "mode": "list",
          "cachedResultName": "Historal de ausencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU/edit#gid=1431428858"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_tramite",
              "lookupValue": "={{ $json.message.text }}"
            },
            {
              "lookupColumn": "Nombre_usuario",
              "lookupValue": "={{ $json.message.from.first_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        1056
      ],
      "id": "2a0f74e9-61b3-4d05-bc38-1404942c7839",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vxMlLQEvKedyMLNp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -896,
        1056
      ],
      "id": "7f28fa78-d3f3-432d-9811-dbbeb26aae8c",
      "name": "Lookup",
      "webhookId": "36f0041c-9a3c-460d-a870-a1a7e53dacab",
      "credentials": {
        "telegramApi": {
          "id": "2jvvMbTjhKeXvMz4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Lookup').item.json.message.from.id }}",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        1056
      ],
      "id": "0109b12b-ef6e-423a-9bbb-f5506aff7abb",
      "name": "Send a text message1",
      "webhookId": "cd7ec81e-a5c7-4974-9410-67c80406bc85",
      "credentials": {
        "telegramApi": {
          "id": "2jvvMbTjhKeXvMz4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Por favor, escribe a continuación tu número de gestión (ejemplo: AETHER-2026-TG1234) para consultar el estado actual de tu trámite. 🔍",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        608
      ],
      "id": "cea577e9-a854-47e6-b085-50bd15c25919",
      "name": "Conexion Lookup",
      "webhookId": "5de730d4-af5d-48de-a792-cb6c211901c9",
      "credentials": {
        "telegramApi": {
          "id": "2jvvMbTjhKeXvMz4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recibir-justificantes",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        832
      ],
      "id": "19f3ccd3-19c1-46a3-8454-c5073437024c",
      "name": "formulario AetherIA",
      "webhookId": "b8b8ac63-06bd-4a16-a250-8cb382c92220"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU",
          "mode": "list",
          "cachedResultName": "Aether IA Ausencia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1431428858,
          "mode": "list",
          "cachedResultName": "Historal de ausencias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bco3Tzz48kTx6fZlyHIfIdl-PfBdQXdm-RgOeYbsxcU/edit#gid=1431428858"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tramite": "={{ $json.body.id_tramite }}",
            "Nombre_usuario": "={{ $json.body.nombre_estudiante }}",
            "Correo": "={{ $json.body.correo }}",
            "Fecha_reporte": "={{ $json.body.fecha_registro }}",
            "fecha_ausencia_inicio": "={{ $json.body.fecha_inicio }}",
            "fecha_ausencia_final": "={{ $json.body.fecha_fin }}",
            "Motivo_ausencia": "={{ $json.body.motivo }}"
          },
          "matchingColumns": [
            "id_tramite"
          ],
          "schema": [
            {
              "id": "id_tramite",
              "displayName": "id_tramite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre_usuario",
              "displayName": "Nombre_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_user_id",
              "displayName": "telegram_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha_reporte",
              "displayName": "Fecha_reporte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_ausencia_inicio",
              "displayName": "fecha_ausencia_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_ausencia_final",
              "displayName": "fecha_ausencia_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo_ausencia",
              "displayName": "Motivo_ausencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Url_justificante",
              "displayName": "Url_justificante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "clasificacion_ia",
              "displayName": "clasificacion_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Observaciones_ia",
              "displayName": "Observaciones_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        832
      ],
      "id": "2063e432-dd8a-4e89-95a1-d77234f3e2b3",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vxMlLQEvKedyMLNp",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Base de datos Alumnos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base de datos Alumnos": {
      "main": [
        [
          {
            "node": "Registrado/No Registrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicio": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrado/No Registrado": {
      "main": [
        [
          {
            "node": "AetherIA usuario existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar ID Registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar ID Registro": {
      "main": [
        [
          {
            "node": "Registro del nuevo Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registro del nuevo Usuario": {
      "main": [
        [
          {
            "node": "AetherIA nuevo usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AetherIA nuevo usuario": {
      "main": [
        [
          {
            "node": "Bienvenida nuevo usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AetherIA usuario existente": {
      "main": [
        [
          {
            "node": "Saludo Usuario Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Botones Telegram": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Generador de gestion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Conexion Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Reporte": {
      "main": [
        [
          {
            "node": "Respuesta Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Consulta": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador de gestion": {
      "main": [
        [
          {
            "node": "base de datos reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "base de datos reporte": {
      "main": [
        [
          {
            "node": "Mensaje Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Mensaje Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formulario AetherIA": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d28b4a27-b5bd-45cc-9cbb-ee5a3515f6f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fec262b50c5aa2ad57f6164e4689863da25dd980b9e7652303ed99e7de711f8b"
  },
  "id": "8kcLwuCPvGDlZJkH",
  "tags": []
}